
body{margin:0;font-family:Arial;background:#0b1220;color:#fff}
header{background:#111827;padding:15px;text-align:center}
.card{background:#1f2937;margin:10px;padding:10px;border-radius:8px}
input,select,button{padding:8px;margin:5px;border-radius:5px;border:none}
button{background:#2563eb;color:white}
a{color:#38bdf8;text-decoration:none}
